{# templates/merito/_form.html.twig #}
<form id="meritoForm" method="post">
    <input type="hidden" name="solicitud_id" value="{{ solicitud.id }}">
    <div class="mb-3">
        <label for="organismo" class="form-label">Organismo</label>
        <input type="text" required class="form-control" id="organismo" name="organismo">
    </div>
    <div class="mb-3">
        <label for="categoriaId" class="form-label">Categoría</label>
        <select required class="form-control" id="categoriaId" name="categoriaId">
            <option value="">Seleccione una categoría</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="fechaInicio" class="form-label">Fecha Inicio</label>
        <input type="date" required class="form-control" id="fechaInicio" name="fechaInicio">
    </div>
    <div class="mb-3">
        <label for="fechaFin" class="form-label">Fecha Fin</label>
        <input type="date" required class="form-control" id="fechaFin" name="fechaFin">
    </div>
    <div class="mb-3">
        <label class="form-label">Días</label>
        <input type="text" class="form-control" id="duracion" readonly>
    </div>
    <script>
        document.getElementById('fechaInicio').addEventListener('change', calcularDuracion);
        document.getElementById('fechaFin').addEventListener('change', calcularDuracion);
        
        function calcularDuracion() {
            const fechaInicio = new Date(document.getElementById('fechaInicio').value);
            const fechaFin = new Date(document.getElementById('fechaFin').value);
            if (fechaInicio && fechaFin) {
                const diferencia = Math.ceil((fechaFin - fechaInicio) / (1000 * 60 * 60 * 24));
                document.getElementById('duracion').value = diferencia;
            }
        }
    </script>
    <div class="mb-3">
    <label for="estadoId" class="form-label">Estado</label>
    <select class="form-select" id="estadoId" name="estadoId">
        {% for estado in estados %}
            <option value="{{ estado.id }}">{{ estado.nombre }}</option>
        {% endfor %}
    </select>
</div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>