{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Mérito</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Guardar</button>
    {{ form_end(form) }}

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
