{# templates/intranet/quinque/admin/persona/index.html.twig #}
{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Lista de solicitantes{% endblock %}

{% block body %}
    <h1>Lista de solicitantes</h1>
    <p><a href="{{ path('quinque_persona_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar solicitante</a></p>
    <table  id="solicitantes" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellidos }}</td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.departamento.nombre|slice(0, 40) }}{% if persona.departamento.nombre|length > 40 %}...{% endif %}</td>
                <td>
                    <a href="{{ path('quinque_persona_show', {'id': persona.id}) }}" class="btn btn-info btn-sm"><i class="fas fa-search"></i> Ver</a>
                    <a href="{{ path('quinque_persona_edit', {'id': persona.id}) }}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--suppress JSUnresolvedReference -->
    <script>
        $(document).ready(function() {
            $('#solicitantes').DataTable();
        });
    </script>
{% endblock %}
