{# templates/intranet/quinque/admin/persona/show.html.twig #}

{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Solicitante {{ persona.nombre }} {{ persona.apellidos }}{% endblock %}

{% block body %}
    <h1><i class="fas fa-user"></i> Solicitante: {{ persona.nombre }} {{ persona.apellidos }}</h1>
    <section aria-labelledby="datos-personal">
        <h2 id="datos-solicitante">Datos personales</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>DNI</th>
                    <td>{{ persona.dni }}</td>
                </tr>
                <tr>
                    <th>Nombre completo</th>
                    <td>{{ persona.nombre }} {{ persona.apellidos }}</td>
                </tr>
                <tr>
                    <th>Departamento</th>
                    <td>{{ persona.departamento.nombre }}</td>
                </tr>
                <tr>
                    <th>Correo</th>
                    <td>{{ persona.email }}</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>{{ persona.telefono }}</td> 
                <tr>
                    <th>Fecha de nacimiento</th>
                    <td>{{ persona.fechaNacimiento|date('Y-m-d') }}</td>
                </tr>
            </tbody>
        </table>
    <h2>Solicitudes de quinquenios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Convocatoria</th>
                <th>Fecha Entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.id }}</td>
                    <td>{{ solicitud.convocatoria.nombre }}</td>
                    <td>{{ solicitud.fechaEntrada|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('quinque_solicitud_show', {id: solicitud.id}) }}" class="btn btn-info">Ver Méritos</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('quinque_solicitud_new', {personaId: persona.id}) }}" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar Nueva Solicitud</a>
    
    <a href="{{ path('quinque_persona_index') }}" class="btn btn-secondary">Ver solicitantes</a>
    <a href="{{ path('quinque_convocatoria_index') }}" class="btn btn-secondary">Ver convocatorias</a>
{% endblock %}
