{# templates/intranet/quinque/admin/convocatoria/_form.html.twig #}

{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
    <div class="mb-3">
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nombre) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.fechaInicioSolicitud) }}
        {{ form_widget(form.fechaInicioSolicitud, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.fechaInicioSolicitud) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.fechaFinSolicitud) }}
        {{ form_widget(form.fechaFinSolicitud, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.fechaFinSolicitud) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.activa) }}
        {{ form_widget(form.activa) }}
        {{ form_errors(form.activa) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}