{# templates/intranet/quinque/admin/convocatoria/_form.html.twig #}

{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
	<div class="mb-3">
		{{ form_label(form.nombre) }}
		{{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nombre) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.fechaInicioSolicitud) }}
		{{ form_widget(form.fechaInicioSolicitud, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.fechaInicioSolicitud) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.fechaFinSolicitud) }}
		{{ form_widget(form.fechaFinSolicitud, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.fechaFinSolicitud) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.fechaResolucion) }}
		{{ form_widget(form.fechaResolucion, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.fechaResolucion) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.delegaFirmaFecha) }}
		{{ form_widget(form.delegaFirmaFecha, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.delegaFirmaFecha) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.delegaFirmaPersona) }}
		{{ form_widget(form.delegaFirmaPersona, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.delegaFirmaPersona) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.delegaFirmaCargo) }}
		{{ form_widget(form.delegaFirmaCargo, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.delegaFirmaCargo) }}
	</div>
	
	<div class="mb-3">
		{{ form_label(form.activa) }}
		{{ form_widget(form.activa) }}
		{{ form_errors(form.activa) }}
	</div>

	<button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
