{# templates/intranet/quinque/admin/convocatoria/show.html.twig #}
{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Convocatoria{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mb-3">
			<h1><i class="fas fa-bullhorn" style="color: #ffc107;"></i> Convocatoria: {{ convocatoria.nombre }}</h1>
		</div>
		<div class="col-md-6 text-end">
		<div class="btn-group">
			<a href="{{ path('intranet_quinque_admin_convocatoria_index') }}" class="btn btn-secondary">Listar convocatorias</a>
			<a href="{{ path('intranet_quinque_admin_convocatoria_edit', {id: convocatoria.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i> Editar convocatoria</a>
		</div>
		</div>
	</div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ convocatoria.id }}</td>
                <th>Nombre</th>
                <td>{{ convocatoria.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha inicio solicitudes</th>
                <td>{{ convocatoria.fechaInicioSolicitud|date('Y-m-d') }}</td>
                <th>Fecha fin solicitudes</th>
                <td>{{ convocatoria.fechaFinSolicitud|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="mt-3 mb-3">Solicitudes convocatoria</h2>
    <table id="convocatorias" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Solicitante</th>
                <th>Fecha Entrada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in convocatoria.solicitudes %}
                <tr>
                    <td>{{ solicitud.id }}</td>
                    <td>{{ solicitud.persona.nombre}} {{ solicitud.persona.apellidos}}</td>
                    <td>{{ solicitud.fechaEntrada|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('intranet_quinque_admin_convocatoria_show', {id: solicitud.id}) }}" class="btn btn-info btn-sm"><i class="fas fa-search"></i> Ver</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
		$('#convocatorias').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
{% endblock %}