{{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-md-4">
            {{ form_row(form.solicitante) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.asignado) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.unidad) }}
        </div>
    </div>
    {{ form_row(form.asunto) }}
    {{ form_row(form.contenido) }}
    <div class="mt-3">
        <button class="btn btn-primary">
            <i class="fas fa-save"></i> {{ button_label|default('Guardar') }}
        </button>
        <a href="{{ path('app_peticion_solicitud_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver al listado
        </a>
    </div>
{{ form_end(form) }}