<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Reconocimiento de Quinquenio</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.4;
                margin: 20px 20px 20px 50px;
                font-size: 12px;
            }
            p {
                text-align: justify;
                margin-bottom: 12px;
            }
        </style>
    </head>
    <body>
        <table style="width: 100%; margin-bottom: 5em; border:0;">
            <tr>
                <td style="width: 30%; vertical-align: top;">
                    <img src="{{ selloBase64 }}" alt="Universidad de Sevilla - Área de Personal Docente" 
                        style="height: 140px;">
                </td>
                <td style="width: 70%; vertical-align: top;">
                    <div style="width: 70%; float: right; border: 1px solid black; border-radius: 5px; padding: 10px; text-align: left;">
                        <p style="margin: 0;"><span style="font-size: 9px; color: #888;">Su Ref.:</span></p>
                        <p style="margin: 0;"><span style="font-size: 9px; color: #888;">Ntra. Ref.:</span> SGPD/ACG/PB</p>
                        <p style="margin: 0;"><span style="font-size: 9px; color: #888;">Salida:</span></p>
                        <p style="margin: 0; text-align: left;"><span style="font-size: 9px; color: #888;">Asunto:</span> 
                            Reconocimiento de Quinquenio/s</p>
                        <p style="margin: 0;"<span style="font-size: 9px; color: #888;">Destinatario: </span> 
                        <p style="margin: 0;">{{ solicitud.persona.nombre }} {{ solicitud.persona.apellidos }}</p>
                        <p style="margin: 0;">C/ Avicena, 6 Bloque 5 – 1º C</p>
                        <p style="margin: 0;">41927 - Mairena del Aljarafe</p>
                        <p style="margin: 0;">Sevilla</p>
                    </div>
                </td>
            </tr>
        </table>

        <p>En Sevilla, a la fecha de la firma</p>
        <p>En contestación a su solicitud del Complemento por Méritos Docentes, y teniendo 
        en cuenta la Resolución Rectoral de {{ solicitud.convocatoria.fechaResolucion|fecha_es}} 
        de la Universidad de Sevilla, y en virtud del Acuerdo de Consejo de Gobierno CG/6.3, 24-11-17, 
        modificado por el Acuerdo CG/7.10, 13-3-18 y por el Acuerdo CG/5.9.1., 24-7-18.
        ESTE RECTORADO, de conformidad con las atribuciones que le confieren el art. 50 de 
        la L.O.S.U. y el art. 20.o) del Estatuto de la Universidad de Sevilla, HA RESUELTO: 
        Reconocer a <strong>{{ solicitud.persona.nombre }} {{ solicitud.persona.apellidos }}</strong>
        con la categoría de {{ solicitud.meritos|last.categoria.nombre }}, los siguientes 
        componentes por méritos docentes:
        <div style="margin: 0 auto; width: 80%;">
            <table style="border-collapse: collapse; margin-bottom: 15px;">
                {% for merito in solicitud.meritos %}
                    {% if merito.estado.id == 2 %}
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 6px;">{{ merito.organismo }}</td>
                        <td style="border: 1px solid #ddd; padding: 6px;">{{ merito.fechaInicio|date('d-m-Y') }}</td>
                        <td style="border: 1px solid #ddd; padding: 6px;">{{ merito.fechaFin|date('d-m-Y') }}</td>
                        <td style="border: 1px solid #ddd; padding: 6px;">{{ merito.categoria.nombre }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>

        <p>Contra la presente Resolución que pone fin a la vía administrativa podrá interponerse, con
carácter potestativo, Recurso de Reposición ante el Rector de esta Universidad, en el plazo de un
mes, conforme a lo dispuesto en los artículos 123 y 124 de la Ley 39/2015, de 1 de octubre, del
Procedimiento Administrativo Común de las Administraciones Públicas, o bien, directamente
demanda en el plazo de dos meses ante el Juzgado o Sala de lo Social, según dispone el artículo 69
de la Ley 36/2011, de 10 de octubre, reguladora de la Jurisdicción Social.</p>

        <p style="text-align: center;">EL RECTOR,
        <br>P.D. (Resol. Rec. {{solicitud.convocatoria.delegaFirmaFecha|date('d-m-Y')}})
        <br>{{solicitud.convocatoria.delegaFirmaCargo}},
        <br>Fdo: {{solicitud.convocatoria.delegaFirmaPersona}}</p>

    </body>
</html>