{# templates/persona/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Solicitante {{ persona.nombre }} {{ persona.apellidos }}{% endblock %}

{% block body %}
    <h1><i class="fas fa-user"></i> Solicitante: {{ persona.nombre }} {{ persona.apellidos }}</h1>
    <h2>Solicitudes de Quinquenios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
				<th>Convocatoria</th>
                <th>Fecha Entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.id }}</td>
                    <td>{{ solicitud.convocatoria.nombre }}</td>
                    <td>{{ solicitud.fechaEntrada|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('solicitud_show', {id: solicitud.id}) }}" class="btn btn-info">Ver Méritos</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('solicitud_new', {personaId: persona.id}) }}" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar Nueva Solicitud</a>
    
    <a href="{{ path('persona_index') }}" class="btn btn-secondary">Ver solicitantes</a>
	<a href="{{ path('convocatoria_index') }}" class="btn btn-secondary">Ver convocatorias</a>
{% endblock %}
