{% extends 'base.html.twig' %}

{% block title %}Lista de Departamentos{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1><i class="fas fa-building"></i> Departamentos</h1>
        
        <table id="departamentos-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Código UXXI</th>
                    <th>Código RPT</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for departamento in departamentos %}
                    <tr>
                        <td>{{ departamento.id }}</td>
                        <td>{{ departamento.nombre }}</td>
                        <td>{{ departamento.codigoUxxi }}</td>
                        <td>{{ departamento.codigoRPT }}</td>
                        <td>
                            <a href="{{ path('departamento_edit', {'id': departamento.id}) }}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('departamento_new') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Nuevo Departamento
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#departamentos-table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                },
                pageLength: 10,
                order: [[1, 'asc']], // Order by nombre column
                responsive: true
            });
        });
    </script>
{% endblock %}
