{# templates/intranet/quinque/admin/departamento/index.html.twig #}
{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Lista de Departamentos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row mt-3 mb-3">
		<div class="col-6">
        	<h1 class="mb-4"><i class="fas fa-building text-warning"></i> Departamentos</h1>
		</div>
		<div class="col-6 text-end">
        	<a href="{{ path('quinque_departamento_new') }}" class="btn btn-primary mt-3">
            <i class="fas fa-plus"></i> Agregar Departamento
        	</a>
		</div>
        <table id="departamentos-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Código UXXI</th>
                    <th>Código RPT</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for departamento in departamentos %}
                    <tr>
                        <td>{{ departamento.id }}</td>
                        <td>{{ departamento.nombre }}</td>
                        <td>{{ departamento.codigoUxxi }}</td>
                        <td>{{ departamento.codigoRPT }}</td>
                        <td>
                            <a href="{{ path('quinque_departamento_edit', {'id': departamento.id}) }}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.bootstrap5.min.js') }}"></script>
    <!--suppress JSUnresolvedReference -->
    <script>
        $(document).ready(function() {
            $('#departamentos-table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                },
                pageLength: 10,
                order: [[1, 'asc']], // Order by nombre column
                responsive: true
            });
        });
    </script>
{% endblock %}
