{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Estado de Solicitud{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Solicitudes con estado {{ solicitud_estado.nombre }}</h1>

        {# TODO: Poner aquí una lista de solicitudes que estén en el estado seleccionado#}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ solicitud_estado.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ solicitud_estado.nombre }}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>
                        <span class="badge" style="background-color: {{ solicitud_estado.color }}">
                            {{ solicitud_estado.color }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3">
            <a href="{{ path('intranet_quinque_admin_solicitud_estado_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver al listado
            </a>

            <a href="{{ path('intranet_quinque_admin_solicitud_estado_edit', {'id': solicitud_estado.id}) }}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Editar
            </a>

            {{ include('intranet/quinque/admin/solicitud_estado/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
